.mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

:host ::ng-deep .p-calendar {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #172b4d;
    border-radius: 8px;
    transition: all 0.2s ease;
}

:host ::ng-deep .p-calendar .p-inputtext {
    color: #000;
    font-size: 14px;
    background: transparent;
    border: none;
    width: 100%;
}

:host ::ng-deep .p-calendar .p-inputtext:focus {
    outline: none;
    box-shadow: 0 0 0 2px #1370fb;
}

:host ::ng-deep .p-datepicker {
    border-radius: 8px;
}

:host ::ng-deep .p-datepicker td>span.p-highlight {
    background-color: #1370fb !important;
    color: #fff !important;
}